{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
{% include 'sidebar_doc.html'%}
{% endblock %}
{% block navbar%}
{% include 'navbar.html'%}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Questionnaire</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Formulaire des enquetes</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Smart Wizard -->
                        <p>Cette page est pour saisir les réponses des questionnaires/enquetes sur la santé sexuelle et
                            reproductive de la population</p>
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            Etape 1<br />
                                            <small>Informations personnelles</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                            Etape 2<br />
                                            <small>Etape 2 description</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                            Etape 3<br />
                                            <small>Etape 3 description</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                            Etape 4<br />
                                            <small>Etape 4 description</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-5">
                                        <span class="step_no">5</span>
                                        <span class="step_descr">
                                            Etape 5<br />
                                            <small>Etape 5 description</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-6">
                                        <span class="step_no">6</span>
                                        <span class="step_descr">
                                            Etape 6<br />
                                            <small>Etape 6 description</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-7">
                                        <span class="step_no">7</span>
                                        <span class="step_descr">
                                            Etape 7<br />
                                            <small>Etape 7 description</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-8">
                                        <span class="step_no">8</span>
                                        <span class="step_descr">
                                            Etape 8<br />
                                            <small>Etape 8 description</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-9">
                                        <span class="step_no">9</span>
                                        <span class="step_descr">
                                            Etape 9<br />
                                            <small>Etape 9 description</small>
                                        </span>
                                    </a>
                                </li>

                            </ul>
                            <div id="step-1">
                                <br><br>
                                <form class="form-horizontal form-label-left">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3  " for="cin">CIN <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="cin" name="cin" required="required"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3  " for="prenom">Prénom
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="prenom" name="prenom" required="required"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3  " for="nom">Nom <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="nom" name="nom" required="required"
                                                class="form-control ">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  ">Date de naissance
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input id="date_naissance" name="date_naissance"
                                                class="date-picker form-control" placeholder="jj-mm-aaaa" type="text"
                                                required="required" type="text" onfocus="this.type='date'"
                                                onmouseover="this.type='date'" onclick="this.type='date'"
                                                onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                            <script>
                                                function timeFunctionLong(input) {
                                                    setTimeout(function () {
                                                        input.type = 'text';
                                                    }, 60000);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3  ">Genre <span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <div id="gender" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="genre" id="genre" value="homme"
                                                        class="join-btn"> &nbsp; Homme &nbsp;
                                                </label>
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="genre" id="genre" value="femme"
                                                        class="join-btn"> Femme
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3  ">Nationnalité <span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6  ">
                                            <select class="select2_single form-control" name="nationnalite"
                                                tabindex="-1">
                                                <option value="marocaine">Marocaine</option>
                                                <option value="etrangere">Etrangère</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3  ">Adresse <span
                                                class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input id="adresse" name="adresse" class="form-control" required="required"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3  ">Ville de
                                            résidence<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6  ">
                                            <select class="select2_single form-control" name="ville" tabindex="-1">
                                                {% for ville in villes %}
                                                <option value="{{ ville }}">{{ ville }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3  ">Métier <span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6  ">
                                            <select class="select2_single form-control" name="metier" tabindex="-1">
                                                {% for metier in metiers %}
                                                <option value="{{ metier }}">{{ metier }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3  ">Etat civil <span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6  ">
                                            <select class="select2_single form-control" name="etat_civil" tabindex="-1">
                                                <option value="marie">Marié(e)</option>
                                                <option value="celibataire">Célibataire</option>
                                                <option value="divorce">Divorcé(e)</option>
                                                <option value="veuf">Veuf(ve)</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-2">
                                <form class="form-horizontal form-label-left">

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous des connaissances sur les pratiques à faire pour garder ta santé sexuelle? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="conscience" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="conscience" id="conscience" value="conscient"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="conscience" id="conscience" value="non_conscient"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Mot-clés: (e.x: Education sexuelle, contraceptifs.. etc)  </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="mot_cle_conscience" name="mot_cle_conscience" class="form-control" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Utilisz-vous les services disponible pour controler et prendre soins de votre vie sexuelle? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="utilisation" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="utilisation" id="utilisation" value="utilise"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="utilisation" id="utilisation" value="non_utilise"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Mot-clés: (e.x: Dépistage, consultation, analyses.. etc)  </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="mot_cle_utilisation" name="mot_cle_utilisation" class="form-control" required="required" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-3">
                                <form class="form-horizontal form-label-left">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous une infection par le virus de l'immunodéficience humaine (VIH)? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="vih" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="vih" id="vih" value="vih"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="vih" id="vih" value="non_vih"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous une infection par syphilis ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="syphilis" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="syphilis" id="syphilis" value="syphilis"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="syphilis" id="syphilis" value="non_syphilis"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous une infection par trichomonase ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="trichomonase" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="trichomonase" id="trichomonase" value="trichomonase"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="trichomonase" id="trichomonase" value="non_trichomonase"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous une infection par gonorrhée ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="gonorrhée" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="gonorrhée" id="gonorrhée" value="gonorrhée"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="gonorrhée" id="gonorrhée" value="non_gonorrhée"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous une infection par chlamydiose / chlamydia ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="chlamydia" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="chlamydia" id="chlamydia" value="chlamydia"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="chlamydia" id="chlamydia" value="non_chlamydia"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous une infection par l'hépatite B ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="hepatite_b" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="hepatite_b" id="hepatite_b" value="hepatite_b"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="hepatite_b" id="hepatite_b" value="non_hepatite_b"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   ">  Avez-vous une infection par le virus Herpes simplex (HSV-2) ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="hsv_2" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="hsv_2" id="hsv_2" value="hsv_2"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="hsv_2" id="hsv_2" value="non_hsv_2"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous une infection du papillomavirus humaine (HPV) ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="hpv" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="hpv" id="hpv" value="hpv"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="hpv" id="hpv" value="non_hpv"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8  ">Combien de fois vous avez fait du dépistage des infections sexuelles transmissibles (IST) ?</label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="IST" name="IST" class="form-control" required="required" type="number" min="0">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-4">
                                <form class="form-horizontal form-label-left">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Utilisez-vous des méthodes de planification familiale ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="planification" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="planification" id="planification" value="planification"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="planification" id="planification" value="non_planification"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Quelles méthodes utilisez-vous ? <span class="required">*</span> </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="methode" name="methode" class="form-control" required="required" type="text" >
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-8 col-sm-8   "> Avez-vous envie d'avoir des enfants ? <span
                                                class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <div id="enfant" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="enfant" id="enfant" value="enfant"
                                                        class="join-btn"> &nbsp; Oui &nbsp;
                                                </label>
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="enfant" id="enfant" value="non_enfant"
                                                        class="join-btn"> Non
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Avez vous combien d'enfants en total ?  </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="nombre_enfant" name="nombre_enfant" class="form-control" required="required" type="number" min="0">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Combien d'enfants nés avec une planification ? </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="nombre_enfant_planifie" name="nombre_enfant_planifie" class="form-control" required="required" type="number" min="0">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Combien d'enfants nés sans planification ?</label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="nombre_enfant_non_planifie" name="nombre_enfant_non_planifie" class="form-control" required="required" type="number" min="0">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">As-tu déjà fait une fausse couche, combien de fois ? </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="fausse_couche" name="fausse_couche" class="form-control" required="required" type="number" min="0">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Avez-vous déjà fait une fausse couche intentionnelle, combien de fois ?</label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="fausse_couche_intentionnelle" name="fausse_couche_intentionnelle" class="form-control" required="required" type="number" min="0">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-6 col-sm-6  ">Avez-vous des enfants hors marriage, combien ? </label>
                                        <div class="col-md-4 col-sm-4 ">
                                            <input id="enfant_hors_mariage" name="enfant_hors_mariage" class="form-control" required="required" type="number" min="0">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-5">

                            </div>
                            <div id="step-6">

                            </div>
                            <div id="step-7">

                            </div>
                            <div id="step-8">

                            </div>
                            <div id="step-9">

                            </div>
                        </div>
                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer%}
{% include 'footer.html'%}
{% endblock %}