{% extends 'base.html' %}
{% load static %}
{% block title %}IST{% endblock %}
{% block sidebar %}
{% include 'sidebar_doc.html'%}
{% endblock %}
{% block navbar%}
{% include 'navbar.html'%}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>IST<small>liste</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="successMessage" class="alert alert-success" style="display: none;">
                            Enregistrement validé!
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30">
                                        
                                    </p>
                                    <table id="datatable-buttons" class="table table-striped table-bordered"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                
                                                <th>VIH/SID</th>
                                                <th>SYPHILIS</th>
                                                <th>gonorrhée</th>
                                                <th>chlamydose</th>
                                                <th>trichomonase</th>
                                                <th>hepatite_B</th>
                                                <th>HSV</th>
                                                <th>PVH</th>
                                                <th>Taux depistoge</th>
                                                <th>Action</th>
                                            
                                            </tr>
                                        </thead>


                                        <tbody>
                                            {% for item in ists %}
                                            <tr>
                                                
                                                <td>{{item.vih_sid}}</td>
                                                <td>{{item.syphilis}}</td>
                                                <td>{{item.gonorrhee}}</td>
                                                <td>{{item.chlamydiose}}</td>
                                                <td>{{item.trichomonase}}</td>
                                                <td>{{item.hepatite_b}}</td>
                                                <td>{{item.hsv}}</td>
                                                <td>{{item.phv}}</td>
                                                <td>{{item.taux_depistoge}}</td>
                                                <td>
                                                    <a href="{% url 'ist_edit' pk=item.pk %}">Modifier</a>
                                                </td>
                                            </tr>
                                                     
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Afficher le message de succès et le masquer après 2 secondes
    window.onload = function() {
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        $('#successMessage').show();
        setTimeout(function() {
            $('#successMessage').hide();
        }, 2000); // Masquer le message après 2 secondes
        {% endif %}
        {% endfor %}
        {% endif %}
    }
</script>
{% endblock %}
