{% extends 'base.html' %}
{% load static %}
{% block title %}Personne{% endblock %}
{% block sidebar %}
{% include 'sidebar_doc.html'%}
{% endblock %}
{% block navbar%}
{% include 'navbar.html'%}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Personne<small>liste</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30"></p>
                                    <table id="datatable-buttons" class="table table-striped table-bordered"
                                        style="width:100%">
                                        
                                        <thead>
                                            <tr>
                                                
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Date naissance</th>
                                                <th>cin</th>
                                                <th>Nationalité</th>
                                                <th>Adresse</th>
                                                <th>Ville</th>
                                                <th>Métier</th>
                                                <th>Etat Civil</th>
                                                <th>Sexe</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            {% for item in personnes %}
                                            <tr>
                                            
                                                <td>{{item.prenom}}</td>
                                                <td>{{item.nom}}</td>
                                                <td>{{item.date_naiss}}</td>
                                                <td>{{item.cin}}</td>
                                                <td>{{item.nationalite}}</td>
                                                <td>{{item.adress}}</td>
                                                <td>{{item.ville}}</td>
                                                <td>{{item.metier}}</td>
                                                <td>{{item.etat_civil}}</td>
                                                <td>{{item.sexe}}</td>                                                
                                            </tr>
                                            {% endfor %}
                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}