{% extends 'base.html' %}
{% load static %}
{% block title %}Personne{% endblock %}
{% block sidebar %}
{% include 'sidebar_doc.html'%}
{% endblock %}
{% block navbar%}
{% include 'navbar.html'%}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Personne<small>liste</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30"></p>
                                    <table id="datatable-buttons" class="table table-striped table-bordered"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>id_personne</th>
                                                <th>nom</th>
                                                <th>prenom</th>
                                                <th>date_naiss</th>
                                                <th>lieu_naiss</th>
                                                <th>cin</th>
                                                <th>nationalite</th>
                                                <th>adress</th>
                                                <th>ville</th>
                                                <th>metier</th>
                                                <th>etat_civil</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>jamal</td>
                                                <td>rahimi</td>
                                                <td>1986-04-23</td>
                                                <td>casablanca</td>
                                                <td>BJ4532</td>
                                                <td>Marocain</td>
                                                <td>hay salama</td>
                                                <td>rabat</td>
                                                <td>encaisseur</td>
                                                <td>celibataire</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>kamal</td>
                                                <td>kalidi</td>
                                                <td>1973-01-01</td>
                                                <td>rabat</td>
                                                <td>BB1236</td>
                                                <td>Marocain</td>
                                                <td>sidi moumen</td>
                                                <td>mohamadia</td>
                                                <td>tapissier</td>
                                                <td>marie</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>saida</td>
                                                <td>salim</td>
                                                <td>1980-12-16</td>
                                                <td>marrakech</td>
                                                <td>BB2785</td>
                                                <td>Marocaine</td>
                                                <td>derb sultan</td>
                                                <td>casablanca</td>
                                                <td>femme de foyer</td>
                                                <td>marie</td>
                                            </tr>
                                            
                                            <tr>
                                                <td>4</td>
                                                <td>nawal</td>
                                                <td>benjadid</td>
                                                <td>1991-03-17</td>
                                                <td>zagora</td>
                                                <td>BM7854</td>
                                                <td>Marocaine</td>
                                                <td>sbata</td>
                                                <td>casablanca</td>
                                                <td>secretaire</td>
                                                <td>celibataire</td>
                                            </tr>
                                            <tr>
                                                <<td>5</td>
                                                <td>sohaib</td>
                                                <td>benaser</td>
                                                <td>1980-10-23</td>
                                                <td>casablanca</td>
                                                <td>BH1986</td>
                                                <td>Marocain</td>
                                                <td>salmia</td>
                                                <td>casablanca</td>
                                                <td>electricien</td>
                                                <td>celibataire</td>
                                            </tr>
                                            
                                            <tr>
                                                <<td>6</td>
                                                <td>salma</td>
                                                <td>lherbi</td>
                                                <td>2000-08-28</td>
                                                <td>casablanca</td>
                                                <td>BG4581</td>
                                                <td>Marocaine</td>
                                                <td>hay mohamadi</td>
                                                <td>casablanca</td>
                                                <td>etudiante</td>
                                                <td>celibataire</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>abderahim</td>
                                                <td>kalifi</td>
                                                <td>1968-11-11</td>
                                                <td>zemmamra</td>
                                                <td>BJ0453</td>
                                                <td>Marocain</td>
                                                <td>bernazil</td>
                                                <td>casablanca</td>
                                                <td>chauffeur</td>
                                                <td>veuf</td>
                                            </tr>
                                            
                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}