{% extends 'base.html' %}
{% load static %}
{% block title %}prenatal_maternel{% endblock %}
{% block sidebar %}
{% include 'sidebar_doc.html'%}
{% endblock %}
{% block navbar%}
{% include 'navbar.html'%}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>prenatal & maternel<small>liste</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30">
                                        The Buttons extension for DataTables provides a common set of options, API
                                        methods and styling to display buttons on a page that will interact with a
                                        DataTable. The core library provides the based framework upon which plug-ins can
                                        built.
                                    </p>
                                    <table id="datatable-buttons" class="table table-striped table-bordered"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID Personne</th>
                                                <th>acc serv prenatal</th>
                                                <th>comp_grass</th>
                                                <th>desc_comp_gross</th>
                                                <th>comp_accouch</th>
                                                <th>desc_comp_accouch</th>
                                                <th>acc_serv_maternel</th>
                                                <th>meth_accouch</th>
                                            </tr>
                                        </thead>
                                    
                                        <tbody>
                                            {% for item in prenatal_maternels %}
                                            <tr>
                                            
                                                <td>{{item.id_personne}}</td>
                                                <td>{{item.acc_serv_prenatal}}</td>
                                                <td>{{item.comp_grass}}</td>
                                                <td>{{item.desc_comp_gross}}</td>
                                                <td>{{item.comp_accouch}}</td>
                                                <td>{{item.desc_comp_accouch}}</td>
                                                <td>{{item.acc_serv_maternel}}</td>
                                                <td>{{item.meth_accouch}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}